{% extends 'base.html' %}

{% block title %}
    Signup
{% endblock title %}

{% block content %}
<main>
    <div>
        <h1> Sign up </h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Create</button>
        </form>
        <footer>
            Copyright from 1998 Me!
        </footer>
    </div>
</main>
{% endblock content %}
